<html>

<head>
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>
        <main>
            <div v-if="showProduct">
                <figure>
                    <img v-bind:src="product.image">
                </figure>
                <h2 v-text="product.title"></h2>
                <p v-html="product.description"></p>
                <p>Price: {{product.price}}</p>
                <p>Availability: {{product.availableInventory - cartItemCount}}</p>
                <button v-on:click="addToCart" v-if="canAddToCart">
                    Add To Cart</button>
                <button disabled='disabled' v-else>
                    Add To Cart</button>
            </div>
            <div v-else>
                <h2>Checkout</h2>
            </div>
            <button v-on:click="showCheckout">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
            
        </main>
    </div>
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app', // <=== Don't forget this comma
            data: {
                showProduct: true,
                sitename: "Vue.js Pet Depot",
                product: {
                    id: 1001,
                    title: "Dog Food, 3kg bag",
                    description: "A 3kg pound bag of <em>irresistible</em>," + "organic goodness for your dog.",
                    price: 2000,
                    image: "dogfood.png",
                    availableInventory: 5,
                    cartInventory: 5
                },
                cart: [],
            },
            methods: {
                addToCart: function () {
                    this.cart.push(this.product.id);
                    //this.product.availableInventory--;
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length || "";
                },
                canAddToCart: function () {
                    return this.product.availableInventory > this.cartItemCount;
                },
                
            }
        });
    </script>
</body>

</html>
